.env
.git
.gitattributes
.gitignore
.github
docker-compose.yml
dockerfile
.docker
.dockerignore
**/__pycache__/
**/*.py[cod]
.Python
*.manifest
*.spec
.venv/
venv/
.vscode/
*.md
node_modules/
*.log
app.log