:root {
    --primary-color: #6C63FF;
    --secondary-color: #7B72FF;
    --background-overlay: rgba(0, 0, 0, 0.7);
    --text-color: #ffffff;
    --input-bg: rgba(255, 255, 255, 0.1);
    --input-bg-focus: rgba(255, 255, 255, 0.2);
}

body {
    font-family: 'Quicksand', sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Overlay */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-overlay);
    z-index: 1;
}

.form-card {
    position: relative;
    z-index: 2;
    background: #232527;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    color: var(--text-color);
}

h1 {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.form-control {
    background-color: var(--input-bg);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 12px;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.form-control:focus {
    box-shadow: 0px 0px 8px rgba(108, 99, 255, 0.5);
    background-color: var(--input-bg-focus);
}

label {
    font-weight: 700;
    margin-bottom: 8px;
}

.btn-primary {
    margin-top: 1rem;
    background-color: var(--primary-color);
    border: none;
    padding: 12px 18px;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 15px rgba(108, 99, 255, 0.3);
    transform: translateY(-3px);
}
.mb-3 {
    margin-bottom: 20px;
}

label {
    color: #b0b0b0;
}

input::placeholder {
    color: #d9d9d9;
}

.toast {
    position: fixed;
    top: 20px; /* Posiziona il toast in alto */
    right: 20px; /* Mantieni il toast a destra */
    background-color: #6C63FF; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Assicurati che sia sopra gli altri elementi */
    display: none; /* Inizialmente nascosto */
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgb(163 163 163 / 75%) !important;
}

/* Footer Links */
.footer {
    text-align: center;
    margin-top: 20px;
    color: #d9d9d9;
}

.footer a {
    color: #6C63FF;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.footer a:hover {
    color: #7B72FF;
}

.footer i {
    font-size: 24px; /* Dimensione icone */
}