aiohappyeyeballs==2.4.3
aiohttp==3.13.2
aiosignal==1.4.0
amqp==5.2.0
anyio==4.8.0
asgiref==3.8.1
attrs==24.2.0
billiard==4.2.4
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
coloredlogs==15.0.1
concurrent-log-handler==0.9.28
croniter==6.0.0
Flask==3.1.2
Flask-Cors==6.0.0
frozenlist==1.8.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.5
kombu==5.4.2
MarkupSafe==3.0.3
multidict==6.7.0
mysql-connector-python==9.2.0
packaging==24.1
PlexAPI==4.15.16
pluggy==1.6.0
portalocker==3.2.0
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.11
pyreadline3==3.5.4
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2024.2
PyYAML==6.0.3
redis==5.1.1
requests==2.32.4
simple-justwatch-python-api==0.16
six==1.17.0
sniffio==1.3.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
uvicorn==0.32.0
vine==5.1.0
wcwidth==0.2.14
Werkzeug==3.1.4
xmltodict==0.14.2
yarl==1.22.0
APScheduler==3.11.1