<div v-if="activeTab === 'docs'" class="p-6 space-y-4">
    <p class="text-gray-300 mt-2">
        To get started, here’s a brief overview of each field you’ll encounter:
    </p>
    <p class="text-gray-300">
        <strong>TMDB API Key:</strong> Head over to <a href="https://www.themoviedb.org/" class="text-indigo-500 hover:underline">The Movie Database</a> to obtain your unique API key, which is essential for accessing their movie data.
    </p>
    <p class="text-gray-300">
        <strong>Jellyfin URL:</strong> This is simply the URL of your Jellyfin server, where your media is hosted.
    </p>
    <p class="text-gray-300">
        <strong>Jellyfin Token:</strong> You can find this token in your Jellyfin settings, which authenticates your requests.
    </p>
    <p class="text-gray-300">
        <strong>Jellyseer URL:</strong> Enter the URL for your Jellyseer server, ensuring it's correct for seamless integration.
    </p>
    <p class="text-gray-300">
        <strong>Jellyseer API Key:</strong> Generate this key in your Jellyseer settings to enable API access.
    </p>
    <p class="text-gray-300">
        <strong>Jellyseer User:</strong> This field allows you to choose a Jellyseer user who will be making the requests to download movies and TV shows. Creating a dedicated user for this purpose can be vantaggioso. 
    </p>
    <p class="text-gray-300">
        <strong>Max Similar Movies & TV Shows:</strong> Here, you can specify a range from 0 to 20 to control the number of similar items you want to retrieve.
    </p>
    <p class="text-gray-300">
        <strong>Cron Schedule:</strong> For scheduling, refer to <a href="https://crontab.guru/" class="text-indigo-500 hover:underline">Crontab Guru</a> to understand how to format your cron jobs effectively.
    </p>
    <p class="text-gray-300 mt-4">
        For any further questions or issues, feel free to contact me through the links below.
    </p>
</div>
