<footer class="p-6 text-center">
    <div class="flex justify-center space-x-4">
        <a href="https://github.com/giuseppe99barchetta/SuggestArr" target="_blank" class="text-gray-400 hover:text-indigo-500">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://hub.docker.com/repository/docker/ciuse99/suggestarr" target="_blank" class="text-gray-400 hover:text-indigo-500">
            <i class="fab fa-docker fa-2x"></i>
        </a>
        <a href="https://www.reddit.com/r/selfhosted/comments/1g3dn1t/automate_media_recommendations_and_downloads_with/" target="_blank" class="text-gray-400 hover:text-indigo-500">
            <i class="fab fa-reddit fa-2x"></i>
        </a>
        <a href="https://github.com/giuseppe99barchetta/SuggestArr/wiki" target="_blank" class="text-gray-400 hover:text-indigo-500">
            <i class="fas fa-book fa-2x"></i>
        </a>
    </div>
    <p class="mt-4 text-gray-400">© 2024 - SuggestArr</p>
</footer>
