name: Build and Publish Docker Image to Docker Hub

on:
  push:
    branches:
      - nightly

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} | docker login -u ciuse99 --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --cache-from type=registry,ref=ciuse99/suggestarr:cache \
            --cache-to type=registry,ref=ciuse99/suggestarr:cache,mode=max \
            --build-arg BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
            --build-arg DOCKER_TAG=nightly \
            --build-arg VCS_REF=${{ github.sha }} \
            -t ciuse99/suggestarr:nightly \
            -f docker/Dockerfile . --push
