name: Build and Publish Docker Image to GitHub Container Registry

on:
  push:
    branches:
      - nightly

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: repo_name
        run: |
          echo "repo_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image
        env:
          IMAGE_NAME: ghcr.io/${{ steps.repo_name.outputs.repo_owner }}/suggestarr
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --cache-from type=registry,ref=$IMAGE_NAME:cache \
            --cache-to type=registry,ref=$IMAGE_NAME:cache,mode=max \
            -t $IMAGE_NAME:nightly \
            -f docker/Dockerfile . --push
