name: Build Docker Image on Pull Request

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Build Docker Image (no push)
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f docker/Dockerfile .
